<!DOCTYPE html>
<html>
  <head>
    <title>Mmaioneportfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Marcus Maione's Portfolio">
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
